{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title class='mt-5'>Create New Post</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'posts/post_form.css' %}">
{% endblock stylesheet %}

{% block content %}


<div class="form-container">
    <h1 class="flex-adjust mb10">Create A New Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <ul class="form-group">
            <li>
                {{ form.post_title.errors }}
                {{ form.post_title.label_tag }}
                {{ form.post_title }}
            </li>
            <li>
                {{ form.post_contents.errors }}
                {{ form.post_contents.label_tag }}
                {{ form.post_contents }}
            </li>
        <!-- Book Information -->
            <h1 class="flex-adjust mt10">Book Information:</h1>
            <li class="mt10 mb10">
                {{ form.book_check }}
                {{ form.book_check.errors }}
                {{ form.book_check.label_tag }}
            </li>
            </ul>
            <ul class="form-group" id="book_check">
                <li>
                    {{ form.author.errors }}
                    {{ form.author.label_tag }}
                    {{ form.author }}    
                </li>
                <li>
                    {{ form.title.errors }}
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </li>
                <li>
                    {{ form.isbn.errors }}
                    {{ form.isbn.label_tag }}
                    {{ form.isbn }}
                </li>
                <li>
                    {{ form.cover_image.errors }}
                    {{ form.cover_image.label_tag }}
                    {{ form.cover_image }}
                </li>
                <li>
                    {{ form.synopsis.errors }}
                    {{ form.synopsis.label_tag }}
                    {{ form.synopsis }}
                </li>
                <li>
                {{ form.rating.errors }}
                {{ form.rating.label_tag }}
                {{ form.rating }}
                </li>
            </ul>
        </ul>
        
        
            


        <button type="submit" method="POST" class="button-style mt20 mb20">Submit Post</button>
    </form>
</div>
<script src="{% static 'posts/post_form.js' %}"></script>
{% endblock content %}