{% extends 'base.html' %}

{% block title %}
<title>Home - All Posts</title>
{% endblock title %}


{% block content %}
    <h1 class='post-center'>All Posts</h1>
    {% for post in object_list %}
        <h3>{{ post.title }}</h3>
        <div class="author_line">
            <a>{{ post.poster }}</a>
            <time>{{ post.published_at|date:"d m Y" }}</time>
        </div>
        <h3>{{ post.book }}</h3>
        <p>{{ post.post_contents|truncatechars:200 }}</p>
    {% endfor %}
{% endblock content %}