{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Home - All Posts</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'posts/post_list.css' %}">
{% endblock %}

{% block content %}
    <h1 class='post-center'>All Posts</h1>
    {% for post in object_list %}
        <a class="title" href="{% url 'posts:review' post.poster post.slug %}"><h3>{{ post.post_title }}</h3></a>
        <div class="author_line">
            <a href="{% url 'users:reviewer' post.poster post.poster.pk %}">{{ post.poster }}</a>
            <time>{{ post.publish_at|date:"d M Y" }}</time>
        </div>
        <p>{{ post.post_contents|truncatechars:200 }}</p>
    {% endfor %}
{% endblock content %}