{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title class='mt-5'>Create New Post</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'posts/post_form.css' %}">
{% endblock stylesheet %}

{% block content %}
<h1>Create A New Post</h1>
<form method="post">
    {% csrf_token %}
    <!-- ToDo: Manually create form to allow customized file-submit for book image -->
    {{ post_form|crispy}}
    <h3>Some info about the book:</h3>
    <!-- ToDo: Add the JS to this button that hides the book form. -->
        <div class="formgroup container">
            <input type="checkbox" name="no_book" class="">
            <label for="no_book">This Post isn't about a book</label>
        </div>
        
        <div class="notChecked" id="book_form"> 
            {{ book_form|crispy}}
        </div>
    <button type="submit">Submit Post</button>
</form>
<script src="{% static 'posts/post_form.js' %}"></script>
{% endblock content %}