{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Home - All Posts</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'posts/post_list.css' %}">
{% endblock %}

{% block content %}
    <h1 class='post-center m10 title-font'>All Posts</h1>
    {% for post in object_list %}
        <div class="divider m10"></div>
        <a class="title title-font" href="{% url 'posts:review' post.poster post.slug %}"><h3 class="m10">{{ post.post_title }}</h3></a>
        <div class="author_line m10">
            <a href="{% url 'users:individual_reviewer' post.poster.pk post.poster.username %}">{{ post.poster }}</a>
            <time>{{ post.publish_at|date:"d M Y" }}</time>
        </div>
        <p class="m10 ">{{ post.post_contents|truncatechars:200 }}</p>
        <a class="title m10" href="{% url 'posts:review' post.poster post.slug %}">Read More.</a> 
    {% endfor %}
{% endblock content %}