{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Delete Post</title>
{% endblock title  %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'posts/post_confirm_delete.css' %}">
{% endblock stylesheet %}

{% block content %}
<form method="post">{% csrf_token %}
    <div class="form-group">
        <h4>Are you sure you want to delete the post:</h4>
        <h5><span class="postName">"{{ object }}"</span>?</h5>
        <input type="submit" value="Confirm" class="btn btn-danger">
    </div>
</form>
{% endblock content %}