[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pylint = "*"
django-allauth = "*"
pillow = "*"
django-taggit = "*"
pytest-django = "*"
django-crispy-forms = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
