header {
    display:flex;
    justify-content: center;
}

.main-nav-links {
    color:white;
}

.main-nav-links:hover {
    color:gray;
}

#main-nav {
    background-color: purple;
    color: white;
}

#nav-burger {
    color:white;
}

.errorlist{
    color:red;
    list-style-type: none;
    font-weight: bold;
}