.post-center {
    text-align:center;
}

.author_line {
    display:flex;
    justify-content: space-between;

}

.author_line a{
    flex: 1 1 auto;
    color:purple;
}

.author_line time{
    flex: 10 1 auto;
    font-style: italic;
}