{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ poster.username }}'s posts</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'users/reviewer_detail.css' %}">
{% endblock stylesheet %}

{% block content %}
    {% if user.pk == poster.pk %}
    <h1>Your Posts</h1>
    {% else %}
    <h1>{{ poster.username}}'s Posts</h1>
    {% endif %}
    {% for post in poster.post_set.all %}
    <div><a class="reviewer" href="{% url 'posts:review' poster.username post.slug %}">{{ post.post_title }}</a>: 
        {% if post.book %}
        <span class="bookTitle">{{post.book.title}}</span> by {{post.book.author}}
        {% endif %}    
    </div>
    {% endfor %}

{% endblock content %}

