{% extends 'base.html' %}
{% load static  %}

{% block title %}
<title>All Reviewers</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'users/reviewer_list.css' %}">
{% endblock stylesheet %}

{% block content %}
    <h1>All Reviewers:</h1>

    {% for poster in object_list %}
    <a class="reviewer" href="{% url 'reviewer' poster poster.pk %}"><h3>{{ poster.username }}</h3></a>
        {% for post in poster.posts %}
        <ul>
            <a href="{% url 'review' poster.username post.slug %}"><h5>{{ post.title }}</h5> </a>
        </ul>
        {% endfor %}
    {% endfor %}
    
{% endblock content %}