{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ poster.username }}'s posts</title>
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'users/reviewer_detail.css' %}">
{% endblock stylesheet %}

{% block content %}
    <h1>{{ poster.username}}'s Posts</h1>
    {% for post in poster.post_set.all %}
    <a class="reviewer" href="{% url 'review' poster.username post.slug %}">{{ post.post_title }}</a>
    {% endfor %}

{% endblock content %}

